<div class="container mt-4"> 
    <div class="card">
        <div class="card-body">
            <span class="h3"> Lista de Voluntários</span>
            <button class="btn btn-dark btn-Ig float-end" routerLink="/create-volunteer">Adicionar</button>
            <table class="table table-striped mt-4">
                <thead>
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Data de Nascimento</th>
                    <th scope="col">Contato</th>
                    <th scope="col">Função</th>
                    <th scope="col">Ação</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>João da ninguém</td>
                    <td>00/00/0000</td>
                    <td>(00) 00000-0000</td>
                    <td> Psicólogo</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <button type="button" class="btn btn-danger">Excluir</button>
                            <button type="button" class="btn btn-warning">Editar</button>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Ciclana da Silva</td>
                    <td>00/00/0000</td>
                    <td>(00) 00000-0000</td>
                    <td> Assistente Social</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <button type="button" class="btn btn-danger">Excluir</button>
                            <button type="button" class="btn btn-warning">Editar</button>
                        </div>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>